.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 0 72px 0;
}
.container .txt{
    width:90%;
    max-width:800px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.container .divider{
    width: 72px;
    border: 1px solid #fff ;
    margin:24px 0;
}
.container h2{
    font-size: 40px;
    font-family: Arial;
    letter-spacing:0.1em;
}

.container li:nth-child(odd){
    color:#FFDEDE
}

.container li:nth-child(even){
    color:#D8E0FF
}


.container li{
    font-size: 18px;
    font-family: 'Noto Sans';
    margin:0 0 24px 0;
}