*
    color:#fff
    box-sizing: border-box

text-primary = #FFDEDE
text-secondary = #D8E0FF

display-flex(direction, main, cross)
    display flex
    flex-direction direction
    justify-content main
    align-items cross

trbl(top, right, bottom, left)
    top top
    right right
    bottom bottom
    left left

svg-size(size)
    width size
    height size
    font-size size

html
    background-color: #222F43;



.container
    // border 1px solid #fff
    width: 100%
    max-width: 1200px
    margin:0 auto
    height 100%
    position relative
    // overflow hidden


.banner
    height: 100vh
    min-height: 500px
    background: url('../images/NightSkyBackground.jpeg')  no-repeat
    background-size: cover
    background-position: center bottom
    display-flex row center center
    position relative
    & .container
        display-flex row center center

    // 橋接banner跟main的漸層
    &:after
        content: ''
        position absolute
        bottom 0
        background: linear-gradient(0deg, #1B2533,transparent)
        width 100%
        height 100px
        // border 1px solid #fff

.banner__content
    display-flex column center center
    width 86%
    margin 0 auto
    user-select none

// .banner__topNav
//     display-flex row flex-end center
//     position fixed
//     top 0
//     width 100%
//     height 64px
//     background-color #000000dd
//     z-index 100

// .banner__topNav__list
//     display inline-block
//     position absolute
//     top 0
//     height: 100vh
//     width 20%
//     min-width: 150px
//     background-color #ddd
//     transform translate(101%,0px)
//     transition transform 0.2s ease-in-out
//     font-family 'Noto Sans'
//     &.active
//         transform translate(0%,0px)

// .banner__topNav__item
//     display-flex column center center
//     height 60px
//     color #333
//     font-weight: bold
//     background-color #ddd
//     &:active
//         background-color: lightblue
//         opacity 1

// .banner__topNav__logo 
//     position absolute
//     left 20px
//     width 32px
//     height 32px
//     font-size 32px

// .banner__topNav__title
//     font-size: 1.5em
//     font-family 'Noto Sans'
//     text-transform: capitalize
//     color: #ddd
//     position absolute
//     left 50%
//     transform translateX(-50%)

// .banner__topNav__menu
//     cursor pointer
//     position absolute
//     right 20px
//     width 32px
//     height 32px
//     font-size 24px
//     display-flex row center center

.banner__nav
    // border 1px solid black
    display none
    width 90%
    min-width: 500px
    position absolute
    top 0
    transform translateY(-140%)

.banner__nav__item
    display-flex row center center
    cursor pointer
    font-size: 1.5rem
    font-family 'Inder'
    text-decoration none
    width 110px
    &:hover
        font-weight: bold
    &:active
        font-weight: bold
        opacity: 0.5

    & .banner__star
        position absolute
        z-index: -1
        opacity: 0
        font-size: 1.75rem
        transform translateY(0px) 
        transition all 0.3s ease-in-out

    &.active .banner__star
        opacity 1
        transform translateY(-32px)

.banner__nav__logo
    font-size: 56px
    width 56px
    height 56px

.banner__title
    display-flex row center center
    flex-wrap: wrap
    width 80%
    min-width 250px
    padding 1.25em 0.5em
    border-top: 5px solid #ffffff88
    border-bottom: 5px solid #ffffff00
    border-radius: 50%
    font-size 2.5rem
    line-height 1.4
    position relative
    transition none 0.3s ease-in

.banner__title__h1
    font-family 'Inder'
    &.astronomy
        margin 0 0.75em

.banner__arrow
    display-flex column center center
    position absolute
    bottom 0px
    font-size 3rem
    transform translateY(80px)
    animation jumping 1.5s ease-in-out  infinite 

@keyframes jumping {
    0% {
        transform translateY(60px)    
    }
    50% {
        transform translateY(80px)
    }
    100% {
        transform translateY(60px)    
    }
}

// Nav

.nav
    user-select none
    background-color #25262Ecc
    position fixed
    trbl 0 unset unset 0
    width 100%
    font-family: "Inder"
    transition transform 0.3s ease-in-out

.nav__content
    width 80%
    margin 0 auto

.nav__header
    min-height: 48px
    padding 1rem 0 0.5rem 0
    display-flex row flex-start flex-end


.nav__logo
    svg-size(24px)

.nav__title
    margin-left: 12px
    margin-right: -12px
    font-size: 1rem
    small
        font-size: 0.75rem

.nav__list
    list-style none
    display-flex row space-between center

.nav__item 
    cursor pointer
    position relative
    width 68px
    min-height: 20px
    padding 0.75em 0 0.5em
    display-flex row center center

.nav__star
    display none

.nav__highlight
    position absolute
    bottom 0
    width 68px
    height: 2px
    background-color: white
    transform translate(0,0)
    transition 0.3s transform ease-in-out


// main
.main
    // border 1px solid gold
    background-image url('../images/OrionBackground.png')
    background-size cover
    background-position center 
    background-attachment: fixed

// // // //
// Home  //
// // // //

// News
.news
    // border 1px solid #fff
    text-align: center
    padding 2em 0
    background linear-gradient(0deg,transparent ,#1B2533)

.news__content
    // border 1px solid white
    display-flex column flex-start center
    width 86%
    margin 0 auto
    font-size 0.875rem

.news__title
    font-size 1.5rem
    font-family "Inder"
    font-weight bold
    letter-spacing 0.3em
    margin 0 auto

.news__hr
    width 10%
    border 2px solid #ffffff95
    margin 1.25em auto

.news__list
    display-flex column flex-start center
    font-family 'Noto Sans'
    line-height 1.3

.news__item
    cursor pointer
    display: inline-block
    &:nth-child(odd)
        color text-primary
    &:nth-child(even)
        color text-secondary
    &+&
        margin-top: 1.25em
    
    &:active
    &:focus
        opacity 0.5


// Cards

.cards
    padding: 2em 0

.cards__content
    user-select: none
    display-flex column flex-start center
    width 86%
    margin 0 auto
    padding 2em 0

.cards__card
    // border 1px solid #fff
    display-flex column center center
    overflow hidden
    width 270px
    height 360px
    margin 0 1.5em 2em 1.5em
    padding 2em 2em
    border-radius 16px
    background linear-gradient(135deg,#ffffff30,#ffffff05)
    border-top: 1px solid #ffffff60
    border-left 1px solid #ffffff60
    box-shadow 2px 2px 10px #00000050 
    // backdrop-filter: blur(5px)
    transform-style: none

.cards__card.hide
    transform-style preserve-3d
    & .cards__h2
        transform translateY(0)

    & .cards__card__list
        // display none
        transform translateY(122px)
        opacity 0

    &:hover,&:active,&:focus
        & .cards__h2
            transform translateY(-122px)
        & .cards__card__list
            // display-flex column center center
            transform translateY(29px)
            opacity 1

.cards__h2
    font-size 2.5rem
    font-weight 500
    font-family 'Rajdhani'
    letter-spacing: 10px
    text-indent 10px
    margin-bottom 0.5em
    position absolute
    transform translateY(-122px)
    transition transform 0.3s ease-in-out
    cursor pointer
    &:hover
        color #d4a373
    &:active
    &:focus
        color #d4a373
        opacity 0.5

.cards__card__list
    text-align center
    font-size: 1.25rem
    line-height 1.3
    font-family Arial
    color #C5C5C5
    transform translateY(29px)
    transition opacity 0.3s ease-in-out, transform 0.3s ease-in-out


.cards__card__item
    cursor pointer

    &:hover
        color #d4a373

    &:active
    &:focus
        color #d4a373
        opacity 0.5

    &+&
        margin-top :16px


// issues
.issues
    min-height: 800px
    padding 2em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)

.issues__content
    // border 1px solid white
    width 86%
    margin 0 auto
    display-flex column flex-start center

.issues__year
    user-select none
    margin 0 auto 0.25em auto
    font-size 2.5rem
    font-family 'Rajdhani'

.issues__nav
    // border 1px solid red
    user-select none
    display-flex row center center
    flex-wrap: wrap

.issues__nav__item
    // border 1px solid orange
    user-select none
    display-flex row center center
    padding 0.5em 0
    font-size 1rem
    font-family 'Noto Sans'
    width 140px
    &.active a
        color #d4a373

// issues table

.issues__table
    border 1px solid #457b9d
    border-collapse: collapse
    border-radius 8px
    overflow hidden
    width 100%  
    margin 2em 0 0 0
    font-size 1.125rem
    font-family sans-serif

.issues__thead
    display none
    // border 1px solid white
    width 100%
    background-color #457b9d80

.issues__th__date
    display-flex column flex-start center
    padding 0.5em
    width 70px

.issues__th__issue
    padding 0.5em


.issues__tbody
    width 100%
    // border 1px solid gold

.issues__eachDay
    // border 1px solid orange
    padding 0.5em 0

    &:nth-child(odd)
        *
            color #ccc

    &:nth-child(even)
        background-color #ffffff20
        *
            color #eee

.issues__td__date
    // background-color #ffffff88
    display-flex column flex-start center
    padding 0.375em 0 0.25em 0
    font-size 1rem
    line-height 1.2
    flex-shrink: 0

.issues__td__issueList
    {}
.issues__td__issueItem
    cursor pointer
    padding 0.375em
    // list-style: disc
    font-size 1rem
    line-height 1.2
    white-space: pre-wrap;
    &:hover
        color: #d4a373;


// links
.links
    padding 2em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)

.links__content
    // border 1px solid white
    width 86%
    margin 0 auto
    display-flex row center center
    flex-wrap: wrap
    user-select none

.links__card
    cursor pointer
    width 270px
    height 305px
    border-radius: 16px
    margin 0 1.5em 2.75em 1.5em
    overflow hidden
    background linear-gradient(135deg,#ffffff30,#ffffff05)
    border-top: 1px solid #ffffff60
    border-left 1px solid #ffffff60
    box-shadow 2px 2px 10px #00000050 
    box-sizing: border-box
    position relative
    transition transform 0.2s ease-in-out

.links__card__a
    text-decoration none
    &:hover
        transform scale(1.01)
    &:hover:after
        content ''
        position absolute
        trbl 0 0 0 0 
        border 4px solid white
        border-radius 16px

        

.links__card__logoBox
    height 178px
    overflow hidden
    display-flex row center center
    background-color #fff

.links__card__img
    height: 90%

.links__card__abbr
.links__card__title
    text-align: center
    margin-top 16px

.links__card__abbr
    font-family "Rajdhani"
    font-size 1.5rem
    letter-spacing: 6px
    line-height 1.25

.links__card__title
    font-family "Roboto"
    font-size 1rem



// archive

.archive
    min-height: 800px
    padding 2em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)

.archive__content
    // border 1px solid white
    user-select none
    max-width 86%
    margin 0 auto
    display-flex column flex-start center
    
.archive__header
    display-flex row flex-end center
    width 100%
    font-family "Roboto"
    font-size 0.875rem
    margin-bottom 2em

.archive__search_logo
    display-flex row center center
    position relative
    transform translate(27px)
    font-size 1rem
    

.archive__search
    width 160px
    height 30px
    background-color rgba(#ffffff,0.1)
    border none
    border-radius: 15px
    margin-right: 24px
    padding 7px 28px 7px 36px
    color #ffffff
    outline none


.archive__sort
    display-flex row flex-start center
    margin-right: 12px
    cursor pointer
    *
        color #ddd
    &:hover *
        color  #fff
    &:active
        opacity: 0.5
    

.archive__sort__logo
    display-flex row center center
    font-size 1rem

.archive__sort__text
    margin 0 4px 0 8px

.archive__sort__arrowLogo
    display-flex row center center
    font-size 1rem

.archive__fileBox
    display-flex row center center
    width 100%
    flex-wrap: wrap

.archive__file
    cursor pointer
    display-flex row center center
    width 45%
    max-width: 150px
    font-size 1.25rem
    // padding 0.75em
    margin .5em 0.6em 0.5em 0
    border-radius 4px
    position relative
    &:hover .archive__fileImg
        opacity 0.7

.archive__fileImg
    width 100%
    opacity 0.2
    


.archive__year
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-30%)
    font-size 1.5em
    font-family "Rajdhani"
    letter-spacing: 4px
    text-indent 4px



// detail

.detail
    min-height: 800px
    padding 2em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)
    font-family 'Merriweather'

.detail__issue-title
.detail__date-title
    text-align: center

.detail__issue-title
    font-size 1rem
    line-height 1.3em
    
.detail__date-title
    font-size 0.75rem
    line-height 2em
    color #ccc

.detail__content
    display-flex column flex-start flex-start
    width 86%
    max-width 900px
    margin 1em auto 0 auto
    padding 2em
    font-size 0.75em
    font-family 'Noto Sans'
    line-height 1.5
    color #ddd
    background linear-gradient(135deg,#ffffff25,#ffffff10)
    box-shadow: 0px 0px 8px #00000080 inset, 0px 0px 8px #00000080 inset
    word-wrap break-word

.detail__admin
    display-flex row space-evenly center
    width 100%
    height 100px
    margin 0 auto

.detail__deleteThis
    cursor pointer

.detail__editThis
    cursor pointer

.detail__back-to-top
    cursor pointer
    user-select: none
    display-flex row center center
    width 86%
    max-width: 900px
    margin 40px auto 0
    &:hover *
        color #d4a373
    &:active
        opacity 0.5
    



.detail__back-to-top__icon
    svg-size 24px


.detail__back-to-top__text
    font-size 16px
    font-family "Noto Sans"
    margin-left 16px

// // // //
// About // 
// // // // 

// letter

.letter
    padding 2em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)

.letter__content
    width 86%
    max-width: 800px
    font-size 0.875rem
    font-family 'Noto Sans'
    line-height 2
    
    margin 1em auto
    padding 2em 1.25em
    border-radius 8px
    background linear-gradient(135deg,#ffffff25,#ffffff10)
    border-top: 1px solid #ffffff60
    border-left 1px solid #ffffff60
    box-shadow 2px 2px 10px #00000050 
    backdrop-filter: blur(2px)

.letter__text
    color #ddd
    text-align: justify


// upload
.upload
    padding 2em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)
    min-height: 800px

.upload__content
    // border 1px solid #fff
    width 86%
    max-width: 1000px
    margin 0 auto
    padding 1em 0
    font-family "Noto Sans"
    position relative

    label
        max-width: 400px
        margin 1em 1em 0.5em 1em
        color white

.upload__title
    font-size 3rem
    font-family 'Rajdhani'
    text-align center
    margin-bottom 0.5em

.upload__form
    // border 1px solid #fff
    display-flex column flex-start stretch

.upload__form__first
    // border 1px solid gold
    min-width: 300px
    display-flex column space-between stretch
    .upload__form__first__input
        display-flex column flex-start stretch

    button
        display none
        color black

.upload__form__second
    // border 1px solid gold
    display-flex column flex-start stretch
    flex-grow: 1

.upload__form__select
    margin 0.5em 1em
    padding 0.75em .5em 
    & option
        color black
        height 40px


.upload__form__date
    margin 0.5em 1em
    padding 0.75em .5em 
    color black

.upload__form__title
    margin 0.5em 1em
    padding 0.75em .5em 
    color black


.upload__form__textarea
    max-width: 800px
    margin 0.5em 1em
    padding 0.75em .5em 
    resize: none
    color black


.upload__form__button 
    margin 2em 1em 0.5em 1em
    padding 0.75em .5em 
    color:#000

.upload__signout__button
    position absolute
    bottom -0.5em
    right 1em
    color black
    z-index 100


// login
.login
    padding 2em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)
    min-height 800px

.login__content
    // border 1px solid white
    width 86%
    margin 0 auto
    font-family "Noto Sans" ,sans-serif

.login__title
    text-align: center
    font-size 1.5rem
    margin 0.5em


.login__form
    display-flex column flex-start flex-start
    width 100%
    max-width: 400px
    margin 0 auto
    padding 1.5em
    background-color #121B22
    border 1px solid #333
    border-radius: 8px


.login__label
    font-size 1rem
    margin 0.75em 0

.login__input
    width 100%
    font-size 1.125rem
    color #ddd
    padding 0.75em
    margin 0 0 0.75em 0 
    border-radius: 8px
    border 1px solid #333
    background-color #101010
    &:focus
        outline none
        border 1px solid skyblue

.login__button
    cursor pointer
    width 100%
    margin 0.5em 0
    padding 0.5em
    color #fff
    font-size 1.25rem
    background-color #198964
    border 1px solid #59c9a4
    border-radius: 6px
    &:hover
        background-color #299974
    &:active
        opacity 0.5

.login__error-box
    border 1px solid darkred
    border-radius: 8px
    max-width: 400px
    margin 1em auto
    padding 1.5em 2em 1.5em 1em
    background-color rgba(red,0.2)
    position relative

.login__error
    color pink

.login__error__cross
    position absolute
    top 12px
    right 12px 
    cursor pointer


// footer
.footer
    background-color #222F43cc
    padding 3em 0 5em


.footer__content
    // user-select none
    width 86%
    margin 0 auto 

.footer__titleBox
    margin-bottom 22px

.footer__logo
    width 36px
    height 36px
    font-size 36px
    margin-bottom 16px
    margin-right 24px


.footer__title
    font-size 1.5rem
    font-family "Inder"


.footer__list
    display-flex column flex-start flex-start


.footer__item
    cursor pointer
    display inline-block
    font-size 1.125rem
    font-family "Inder"
    &:active
    &:focus
        opacity 0.5
    &+&
        margin-top 1em


.footer__author
    text-align: center
    font-size 0.85em
    line-height 1.5
    margin-top 32px
    color #C5C5C5
    font-family "Roboto"

.confirmModal__background
    position fixed
    top 0 
    bottom 0
    left 0
    right 0
    width 100vw
    height 100vh
    background-color rgba(#000,.5)
    display-flex row center center

.confirmModal
    position fixed
    top 50%
    bottom 50%
    left 50%
    right 50%
    transform translate(-50%,-50%)
    background-color #ffe8d6
    width 240px
    height 140px
    z-index 100
    display-flex column space-between center
    
.confirmModal__message
    color black
    margin 1.5em
    line-height 1.3
    font-family "Noto Sans"

.confirmModal__buttonBox
    width 100%

.confirmModal__button
    cursor pointer
    color black
    width 50%
    height 40px

@media (min-width:600px)

    // banner
    .banner__topNav
        display none

    .banner__nav
        display-flex row space-between stretch

    .banner__title
        padding 1em 0
        border-radius: 0
        border-top: 3px solid #ffffff88
        border-bottom: 3px solid #ffffff88
        font-size 2.75rem

    .banner__arrow
        bottom -100px
        font-size 3.5rem


    // nav
    .nav__content
        display-flex row space-between flex-end


    .nav__logo
        svg-size 2.5rem

    .nav__title 
        display none
        font-size 1.125rem
        small
            font-size 1rem


    .nav__list
        width 381px

    .nav__item
        font-size 1rem
        width 84px
        position relative
        &.active .nav__star
            transform translateY(-24px)
            opacity 1


    .nav__star
        display inline-block
        svg-size 1.25rem
        position absolute
        opacity 0
        transform translateY(0)
        transition opacity 0.3s ease-in-out, transform 0.3s ease-in-out
        
    .nav__highlight
        width 84px

    // news
    .news__content
        font-size 1.25rem

    .news__title
        font-size 2rem


    
    // Cards
    .cards__content
        display-flex row center center
        flex-wrap: wrap

    .cards__card
        transform-style: preserve-3d


    // issue table
    .issues__thead
        display-flex row flex-start stretch

    .issues__eachDay
        display-flex row flex-start stretch
        margin 0

    .issues__td__date
        width 70px

    // detail
    .detail__content
        font-size 1em
    .detail__issue-title
        font-size 1.375rem

    .detail__date-title
        font-size 1rem

    // letter
    .letter
        padding 1em 0

    .letter__content
        font-size 1rem
        line-height 2


    //archive
    .archive__file
        width 30%

    // Footer
    .footer__titleBox
        display-flex row flex-start flex-end

    .footer__logo
        margin-bottom 0
        width 44px
        height 44px
        font-size 44px

    .footer__title
        font-size 1.5rem

    .footer__list
        position absolute
        right 10%
        top 0

    .footer__item
        font-size 1.25rem

    .footer__author
        text-align: left
        margin-top 32px
        color #C5C5C5

@media(min-width:920px)
    .banner__nav__item
        font-size 1.5rem
    
    .banner__title
        font-size 2.75rem

    // upload
    .upload__form
        display-flex row flex-start stretch

    .upload__form__first
        button
            display inline-block

            
    .upload__form__second
        button
            display none

    .upload__form__textarea
        flex-grow 1

        //archive
    .archive__file
        width 22%

    // footer
    .footer__content 
        width 70%

    .footer__logo
        margin-bottom 0
        width 56px
        height 56px
        font-size 56px

    .footer__title
        font-size 2.25rem

    .footer__list
        right 15%

    .letter
    .issues
    .detail
    .links
    .archive
    .login
    .upload
        padding 4em 0
