* {
  color: #fff;
  box-sizing: border-box;
}
html {
  background-color: #222f43;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.banner {
  height: 100vh;
  min-height: 500px;
  background: url("../images/NightSkyBackground.jpeg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner:after {
  content: '';
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, #1b2533, transparent);
  width: 100%;
  height: 100px;
}
.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  margin: 0 auto;
  user-select: none;
}
.banner__topNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: rgba(0,0,0,0.565);
  z-index: 100;
}
.banner__topNav__list {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 20%;
  min-width: 200px;
  background-color: #c5c5c5;
  transform: translate(101%, 64px);
  transition: transform 0.2s ease-in-out;
  font-family: 'Noto Sans';
}
.banner__topNav__list.active {
  transform: translate(0%, 64px);
}
.banner__topNav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgba(197,197,197,0.533);
}
.banner__topNav__logo {
  position: absolute;
  left: 20px;
  width: 32px;
  height: 32px;
  font-size: 32px;
}
.banner__topNav__menu {
  position: absolute;
  right: 20px;
  width: 32px;
  height: 32px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner__nav {
  display: none;
  width: 110%;
  position: absolute;
  top: 0;
  transform: translateY(-140%);
}
.banner__nav__item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Noto Sans';
  width: 110px;
}
.banner__nav__item:hover {
  font-weight: bold;
}
.banner__nav__item:active,
.banner__nav__item:focus {
  font-weight: bold;
  opacity: 0.5;
}
.banner__nav__logo {
  font-size: 72px;
  width: 72px;
  height: 72px;
}
.banner__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  min-width: 250px;
  padding: 1.25em 0.5em;
  border-top: 5px solid rgba(255,255,255,0.533);
  border-bottom: 5px solid rgba(255,255,255,0);
  border-radius: 50%;
  font-size: 2.5rem;
  line-height: 1.4;
  font-family: 'Numans';
  position: relative;
  transition: none 0.3s ease-in;
}
.banner__title__h1.astronomy {
  margin: 0 0.75em;
}
.banner__arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  font-size: 3rem;
  transform: translateY(80px);
  animation: jumping 1.5s ease-in-out infinite;
}
.main {
  background-image: url("../images/OrionBackground.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.news {
  text-align: center;
  padding: 2em 0;
  background: linear-gradient(0deg, transparent, #1b2533);
}
.news__content {
  width: 86%;
  margin: 0 auto;
  font-size: 0.875rem;
}
.news__title {
  font-size: 1.5rem;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 0.3em;
  margin: 0 auto;
}
.news__hr {
  width: 10%;
  border: 2px solid rgba(255,255,255,0.584);
  margin: 1.25em auto;
}
.news__list {
  font-family: 'Noto Sans';
  line-height: 1.3;
}
.news__item {
  margin-top: 1.25em;
}
.news__item:nth-child(odd) {
  color: #ffdede;
}
.news__item:nth-child(even) {
  color: #d8e0ff;
}
.cards {
  padding: 2em 0;
}
.cards__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 86%;
  margin: 0 auto;
  padding: 2em 0;
}
.cards__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 360px;
  margin: 0 1.5em;
  padding: 2em 2em;
  border-radius: 32px;
  background: linear-gradient(135deg, rgba(255,255,255,0.188), rgba(255,255,255,0.02));
  border-top: 1px solid rgba(255,255,255,0.376);
  border-left: 1px solid rgba(255,255,255,0.376);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.314);
  transform-style: preserve-3d;
  margin-bottom: 2em;
}
.cards__h2 {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: 'Rajdhani';
  letter-spacing: 10px;
  margin-bottom: 0.5em;
  text-indent: 10px;
  transform: translateZ(30px);
}
.cards__card__list {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.3;
  font-family: Arial;
  color: #c5c5c5;
  transform: translateZ(20px);
}
.cards__card__item+.cards__card__item {
  margin-top: 16px;
}
.footer {
  background-color: rgba(34,47,67,0.8);
}
.footer__content {
  width: 86%;
  margin: 0 auto;
  padding: 3em 0;
  font-family: "Noto Sans";
}
.footer__title {
  font-size: 1.25rem;
  margin-bottom: 1em;
  font-family: 'Numans';
}
.footer__item {
  font-size: 1rem;
}
.footer__item+.footer__item {
  margin-top: 1em;
}
.footer__author {
  text-align: center;
  font-size: 0.85em;
  line-height: 1.5;
  margin-top: 1em;
  color: #c5c5c5;
}
@media (min-width: 600px) {
  .banner__topNav {
    display: none;
  }
  .banner__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .banner__title {
    padding: 1em 0;
    border-radius: 0;
    border-top: 3px solid rgba(255,255,255,0.533);
    border-bottom: 3px solid rgba(255,255,255,0.533);
    font-size: 2.75rem;
  }
  .banner__arrow {
    bottom: -100px;
    font-size: 3.5rem;
  }
  .news__title {
    font-size: 2rem;
  }
  .news__list {
    font-size: 1.125rem;
  }
  .cards__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer__title {
    font-size: 1.75rem;
  }
  .footer__item {
    font-size: 1.25rem;
  }
}
@media (min-width: 920px) {
  .banner__nav__item {
    font-size: 1.875rem;
  }
  .banner__title {
    font-size: 2.75rem;
  }
}
@-moz-keyframes jumping {
  0% {
    transform: translateY(60px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(60px);
  }
}
@-webkit-keyframes jumping {
  0% {
    transform: translateY(60px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(60px);
  }
}
@-o-keyframes jumping {
  0% {
    transform: translateY(60px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(60px);
  }
}
@keyframes jumping {
  0% {
    transform: translateY(60px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(60px);
  }
}
