*
    color:#fff
    box-sizing: border-box

text-primary = #FFDEDE
text-secondary = #D8E0FF

display-flex(direction, main, cross)
    display flex
    flex-direction direction
    justify-content main
    align-items cross


html
    background-color: #222F43;



.container
    // border 1px solid #fff
    width: 100%
    max-width: 1200px
    margin:0 auto
    height 100%
    position relative
    overflow hidden


.banner
    height: 100vh
    min-height: 500px
    background: url('../images/NightSkyBackground.jpeg')  no-repeat
    background-size: cover
    background-position: center bottom
    display-flex row center center
    position relative
    & .container
        display-flex row center center

    // 橋接banner跟main的漸層
    &:after
        content: ''
        position absolute
        bottom 0
        background: linear-gradient(0deg, #1B2533,transparent)
        width 100%
        height 100px
        // border 1px solid #fff

.banner__content
    display-flex column center center
    width 86%
    margin 0 auto
    user-select none

.banner__topNav
    display-flex row flex-end center
    position fixed
    top 0
    width 100%
    height 64px
    background-color #00000090
    z-index 100

.banner__topNav__list
    display inline-block
    position absolute
    top 0
    height: 100vh
    width 20%
    min-width: 150px
    background-color #C5C5C5
    transform translate(101%,0px)
    transition transform 0.2s ease-in-out
    font-family 'Noto Sans'
    &.active
        transform translate(0%,0px)

.banner__topNav__item
    display-flex column center center
    height 60px
    background-color #C5C5C588
    &:hover
        background-color: lightblue
    &:active
        background-color: lightblue
        opacity 0.5

.banner__topNav__logo 
    position absolute
    left 20px
    width 32px
    height 32px
    font-size 32px

.banner__topNav__title
    font-size: 1.5em
    font-family 'Noto Sans'
    text-transform: capitalize
    color: #ddd
    position absolute
    left 50%
    transform translateX(-50%)

.banner__topNav__menu
    cursor pointer
    position absolute
    right 20px
    width 32px
    height 32px
    font-size 24px
    display-flex row center center

.banner__nav
    // border 1px solid black
    display none
    width 110%
    position absolute
    top 0
    transform translateY(-140%)

.banner__nav__item
    display-flex row center center
    cursor pointer
    font-size: 1.5rem
    font-family 'Noto Sans'
    text-decoration none
    width 110px
    &:hover
        font-weight: bold
    &:active
        font-weight: bold
        opacity: 0.5

    & .banner__star
        position absolute
        z-index: -1
        opacity: 0
        font-size: 2rem
        transform translateY(0px)
        transition all 0.3s ease-in-out

    &.active .banner__star
        opacity 1
        transform translateY(-40px)

.banner__nav__logo
    font-size: 72px
    width 72px
    height 72px

.banner__title
    display-flex row center center
    flex-wrap: wrap
    width 80%
    min-width 250px
    padding 1.25em 0.5em
    border-top: 5px solid #ffffff88
    border-bottom: 5px solid #ffffff00
    border-radius: 50%
    font-size 2.5rem
    line-height 1.4
    font-family 'Numans'
    position relative
    transition none 0.3s ease-in

.banner__title__h1
    &.astronomy
        margin 0 0.75em

.banner__arrow
    display-flex column center center
    position absolute
    bottom 0px
    font-size 3rem
    transform translateY(80px)
    animation jumping 1.5s ease-in-out  infinite 

@keyframes jumping {
    0% {
        transform translateY(60px)    
    }
    50% {
        transform translateY(80px)
    }
    100% {
        transform translateY(60px)    
    }
}

// main
.main
    // border 1px solid gold
    background-image url('../images/OrionBackground.png')
    background-size cover
    background-position center 
    background-attachment: fixed

// // // //
// Home  //
// // // //

// News
.news
    // border 1px solid #fff
    text-align: center
    padding 2em 0
    background linear-gradient(0deg,transparent ,#1B2533)

.news__content
    // border 1px solid white
    display-flex column flex-start center
    width 86%
    margin 0 auto
    font-size 0.875rem

.news__title
    font-size 1.5rem
    font-family Arial
    font-weight bold
    letter-spacing 0.3em
    margin 0 auto

.news__hr
    width 10%
    border 2px solid #ffffff95
    margin 1.25em auto

.news__list
    display-flex column flex-start center
    font-family 'Noto Sans'
    line-height 1.3

.news__item
    cursor pointer
    display: inline-block
    &:nth-child(odd)
        color text-primary
    &:nth-child(even)
        color text-secondary
    &+&
        margin-top: 1.25em
    
    &:active
    &:focus
        opacity 0.5


// Cards

.cards
    padding: 2em 0

.cards__content
    user-select: none
    display-flex column flex-start center
    width 86%
    margin 0 auto
    padding 2em 0

.cards__card
    // border 1px solid #fff
    display-flex column center center
    overflow hidden
    width 270px
    height 360px
    margin 0 1.5em 2em 1.5em
    padding 2em 2em
    border-radius 24px
    background linear-gradient(135deg,#ffffff30,#ffffff05)
    border-top: 1px solid #ffffff60
    border-left 1px solid #ffffff60
    box-shadow 2px 2px 10px #00000050 
    // backdrop-filter: blur(5px)
    transform-style: none

.cards__card.hide
    transform-style preserve-3d
    & .cards__h2
        transform translateY(0)

    & .cards__card__list
        // display none
        transform translateY(122px)
        opacity 0

    &:hover,&:active,&:focus
        & .cards__h2
            transform translateY(-122px)
        & .cards__card__list
            // display-flex column center center
            transform translateY(29px)
            opacity 1

.cards__h2
    font-size 2.5rem
    font-weight 500
    font-family 'Rajdhani'
    letter-spacing: 10px
    text-indent 10px
    margin-bottom 0.5em
    position absolute
    transform translateY(-122px)
    transition transform 0.3s ease-in-out
    cursor pointer
    &:hover
        color #d4a373
    &:active
    &:focus
        color #d4a373
        opacity 0.5

.cards__card__list
    text-align center
    font-size: 1.25rem
    line-height 1.3
    font-family Arial
    color #C5C5C5
    transform translateY(29px)
    transition opacity 0.3s ease-in-out, transform 0.3s ease-in-out


.cards__card__item
    cursor pointer

    &:hover
        color #d4a373

    &:active
    &:focus
        color #d4a373
        opacity 0.5

    &+&
        margin-top :16px


// issues
.issues
    padding 5em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)

.issues__content
    // border 1px solid white
    width 86%
    margin 0 auto
    display-flex column flex-start center

.issues__year
    user-select none
    margin 0 auto 0.25em auto
    font-size 2.5rem
    font-family 'Rajdhani'

.issues__nav
    // border 1px solid red
    user-select none
    display-flex row center center
    flex-wrap: wrap

.issues__nav__item
    // border 1px solid orange
    user-select none
    display-flex row center center
    padding 0.5em 0
    font-size 1rem
    font-family 'Noto Sans'
    width 140px

// issues table

.issues__table
    border 1px solid #457b9d
    border-collapse: collapse
    border-radius 8px
    overflow hidden
    width 100%  
    margin 2em 0 0 0
    font-size 1.125rem
    font-family sans-serif

.issues__thead
    display none
    // border 1px solid white
    width 100%
    background-color #457b9d80

.issues__th__date
    padding 0.5em
    width 70px

.issues__th__issue
    padding 0.5em


.issues__tbody
    width 100%
    // border 1px solid gold

.issues__eachDay
    // border 1px solid orange
    padding 0.5em 0

    &:nth-child(even)
        background-color #ffffff20

.issues__td__date
    // background-color #ffffff88
    padding 0.5em

.issues__td__issueList
    {}
.issues__td__issueItem
    padding 0.5em
    // list-style: disc
    font-size 1.125rem

// detail

.detail
    padding 1em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)

.detail__content
    width 86%
    max-width 700px
    margin 0 auto
    padding 2em
    font-size 0.75em
    font-family 'Merriweather'
    line-height 1.5
    background linear-gradient(135deg,#ffffff25,#ffffff10)
    box-shadow: 0px 0px 8px #00000080 inset, 0px 0px 8px #00000080 inset
    word-wrap break-word

// // // //
// About // 
// // // // 

// letter

.letter
    padding 1em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)

.letter__content
    width 86%

    font-size 0.75rem
    font-family 'Noto Sans'
    line-height 2
    
    margin 1em auto
    padding 2em 1.25em
    border-radius 8px
    background linear-gradient(135deg,#ffffff25,#ffffff10)
    border-top: 1px solid #ffffff60
    border-left 1px solid #ffffff60
    box-shadow 2px 2px 10px #00000050 
    backdrop-filter: blur(2px)

.letter__text
    color #ddd
    text-align: justify


// upload
.upload
    padding 2em 0
    background linear-gradient(0deg,transparent 20%,#1B2533)

.upload__content
    border 1px solid #fff
    width 86%
    max-width: 1000px
    margin 0 auto
    padding 1em 0
    font-family "Noto Sans"

    *
        color black
    

    label
        max-width: 400px
        margin 1em 1em 0.5em 1em
        color white
    
.upload__form
    // border 1px solid #fff
    display-flex column flex-start stretch

.upload__form__first
    border 1px solid gold
    min-width: 300px
    display-flex column space-between stretch
    .upload__form__first__input
        display-flex column flex-start stretch

    button
        display none

.upload__form__second
    border 1px solid gold
    display-flex column flex-start stretch
    flex-grow: 1

.upload__form__select
    margin 0.5em 1em
    padding 0.75em .5em 

.upload__form__date
    margin 0.5em 1em
    padding 0.75em .5em 

.upload__form__title
    margin 0.5em 1em
    padding 0.75em .5em 


.upload__form__textarea
    max-width: 800px
    margin 0.5em 1em
    padding 0.75em .5em 
    resize: none

.upload__form__button 
    margin 2em 1em 0.5em 1em
    padding 0.75em .5em 


// footer
.footer
    background-color #222F43cc

.footer__content
    user-select none
    width 86%
    margin 0 auto
    padding 3em 0
    font-family "Noto Sans"

.footer__title
    font-size 1.25rem
    margin-bottom 1em
    font-family 'Numans'

.footer__list
    display-flex column flex-start flex-start


.footer__item
    cursor pointer
    display inline-block
    font-size 1rem
    &:active
    &:focus
        opacity 0.5
    &+&
        margin-top 1em


.footer__author
    text-align: center
    font-size 0.85em
    line-height 1.5
    margin-top 1em
    color #C5C5C5


@media (min-width:600px)

    // banner
    .banner__topNav
        display none

    .banner__nav
        display-flex row space-between stretch

    .banner__title
        padding 1em 0
        border-radius: 0
        border-top: 3px solid #ffffff88
        border-bottom: 3px solid #ffffff88
        font-size 2.75rem

    .banner__arrow
        bottom -100px
        font-size 3.5rem


    // news
    .news__content
        font-size 1.25rem

    .news__title
        font-size 2rem


    
    // Cards
    .cards__content
        display-flex row center center
        flex-wrap: wrap

    .cards__card
        transform-style: preserve-3d


    // issue table
    .issues__thead
        display-flex row flex-start stretch

    .issues__eachDay
        display-flex row flex-start stretch
        margin 0

    .issues__td__date
        width 70px

    // letter
    .letter
        padding 1em 0

    .letter__content
        font-size 1.25rem
        line-height 2


    // Footer
    .footer__title
        font-size 1.75rem
        
    .footer__item
        font-size 1.25rem
        
@media(min-width:920px)
    .banner__nav__item
        font-size 1.875rem
    
    .banner__title
        font-size 2.75rem

    // upload
    .upload__form
        display-flex row flex-start stretch

    .upload__form__first
        button
            display inline-block

            
    .upload__form__second
        button
            display none

    .upload__form__textarea
        flex-grow 1