html{
background-color: #222F43;
}

.App {
display: flex;
justify-content: center;
background-color: #222F43;
min-width: 320px;
}

.BG{
  display: block;
  width:100%;
  max-width: 1440px;
}
.main-view{
  /* border: 1px #fff solid; */
        box-sizing:border-box;
        width:100%;
        max-width: 1440px;
        height:74vw;
        max-height:1064px;
        display:flex;
        flex-direction:column;
        align-items: center;

}
.observatory{
  font-size: 80px;
  color:#fff;
}
.arrow{
  font-size: 60px;
  color:#fff;
  margin-top: 50px;
}

header{
  width: 100%;
  height:100%;
}
header nav{
  /* border: 1px #fff solid; */
  width: 51%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 22%;
}

header h2{
  font-size: 60px;
  font-family: 'Numans',sans-serif;
  color: #fff;
  margin-right: 2px;
}
header p {
  font-size:30px ;
  font-family: 'Numans',sans-serif;
  color: #fff;
}

.latest{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding:0 20px;
}
.latest p {
  font-size: 45px;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing:0.15em
}
.latest ul {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.latest li{
  text-align: center;
  margin-bottom: 24px;
}
.latest a{
  font-size: 22px;
  text-decoration: none;
  color:currentColor;
  font-family: 'Noto Sans',sans-serif;
}
.latest li:nth-child(odd){
  color:#FFDEDE
}
.latest li:nth-child(even){
  color:#D8E0FF
}
.line{
  width: 72px;
  height: 0;
  margin:20px auto;
  border: 1px #fff solid;
}


@media screen and (max-width:768px){
  header nav {
    margin-top: 20%;
  }
  header h2{
    font-size: 40px;
  }
  header p {
    font-size:20px ;
  }
  .observatory {
    font-size: 40px;
  }
  .arrow{
    font-size: 40px;
    margin-top: 30px;
  }
  .latest p {
    font-size: 28px;
  }
  .latest a{
    font-size: 16px;

  }
}

@media screen and (max-width:480px) {
  header h2{
    font-size: 24px;
  }
  header p {
    font-size:12px ;
  }
  .observatory{
    font-size: 30px;
  }
}