html{
background-color: #222F43;
}

.App {
width: 100%;
max-width: 1280px;
margin: auto;
height: 100vh ;
color:#fff;
}

.banner{
  width: 100%;
  height:700px;
  background-image: url(./images/NightSkyBackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.title-box:{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

